:root {
    --primary-color-text: #757575;
    --title-color-text: #212121;
    --white-color-text: #ffffff;
    --accent-color: #2196f3;
    --bgd-accent-color: #2f303a;
    --accent-color-background: #f5F4fa;
    --hero-color-bgd: #c4c4c4;
    --hero-overlay: #2f303a40;
    --indent-top: 80px;
}

body {
    padding-top: var(--indent-top);

    font-family: "Roboto", sans-serif;
    font-size: 14px;
    background-color: #ffffff;
    color: var(--primary-color-text);
}

h1,
h2,
h3,
h4,
h5,
h5,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/* other */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.title {
    color: var(--title-color-text);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.social-title {
    margin-bottom: 20px;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: var(--white-color-text);

}

.list {
    list-style: none;
}

/* section */
.section {
    padding: 94px 0;
}

.section.no-padding-top {
    padding-top: 0;
}

.section-title {
    margin-bottom: 50px;
}

.section-color {
    background-color: var(--accent-color-background);
}


/* container */
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

.container.page-header {
    height: var(--indent-top);
}

.container-flex {
    display: flex;
    align-items: baseline;
    gap: 80px;
}


/* logo */

.logo {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15;
    color: #000000
}

.footer-logo {
    display: inline-block;
    color: var(--white-color-text);
    margin-bottom: 20px;
}

/* header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;

    background-color: var(--white-color-text);
}

.nav {
    display: flex;
    height: 100%;
    align-items: center;

}

.site-nav {
    display: flex;
    gap: 50px;
    margin-left: 93px;

}

.contact-list {
    display: flex;
    gap: 50px;
    margin-left: auto;
}

.logo-accent {
    color: var(--accent-color)
}

.nav-link {
    font-weight: 500;
    color: var(--title-color-text);
    line-height: 1.14;

    transition: color 250ms ease;
}

.nav-link.current {
    position: relative;
    color: var(--accent-color);

}

.nav-link.current::after {
    content: '';
    position: absolute;
    bottom: -31px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);

    border-radius: 2px;

}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}


.contact-link {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    color: var(--primary-color-text);
    line-height: 1.14;

    transition: color 250ms ease;

}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}


.icon-email {
    margin-right: 10px;
    fill: currentColor;
}

/* HERO */

.section-hero {
    display: block;
    padding: 200px 0px;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;


    text-align: center;
    background-image: linear-gradient(to bottom, var(--hero-overlay), var(--hero-overlay)), url(../images/hero/hero-bgd.jpg);
    background-color: var(--hero-color-bgd);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title {
    margin-bottom: 30px;

    color: var(--white-color-text);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}

.hero-button {
    padding: 10px 32px;
    border-radius: 4px;

    font-size: 16px;
    line-height: 1.87;
    border-color: transparent;
    background-color: var(--accent-color);
    color: var(--white-color-text);

    transition: background-color 200ms ease;
}

.hero-button:hover,
.hero-button:focus {
    cursor: pointer;
    background-color: #0089f9;

}

.hero-button:active {
    background-color: var(--primary-color-text);
}


/* features */

.features {
    display: flex;
    gap: 30px;
}

.features-item::before {
    content: '';
    display: block;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;


    border-radius: 4px;
    background-color: var(--accent-color-background);
}

.antenna-icon::before {
    background-image: url(../images/svg/antenna.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.astronaut-icon::before {
    background-image: url(../images/svg/astronaut.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.clock-icon::before {
    background-image: url(../images/svg/clock.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.diagram-icon::before {
    background-image: url(../images/svg/diagram.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.features-title {
    margin-bottom: 10px;

    font-size: 14px;
    color: var(--title-color-text);
    font-weight: 700;
    line-height: 1.14;
}

.features-text {
    line-height: 1.7;
}


/* work */

.work {
    display: flex;
    gap: 30px;
}

.work-thumb {
    position: relative;
    width: 100%;
    height: 100%;
}

.work-image {}

.work-overlay {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 27px 15px;

    text-align: center;
    color: var(--white-color-text);
    background-color: #2f303a80;
}

/* team */

.team {
    display: flex;
    gap: 30px;
}

.team-item {
    flex-basis: calc((100% - 30px * 3)/ 4);
    padding-bottom: 30px;
    border-radius: 0 0 4px 4px;

    background-color: var(--white-color-text);
}

.team-img {
    margin-bottom: 30px;
}

.text-box {
    text-align: center;
    margin-bottom: 16px;
}

.team-name {
    margin-bottom: 10px;

    color: var(--title-color-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.175;
}

.team-description {
    font-size: 16px;
    line-height: 1.175;
}

/* social */


.social-links {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.social-item {
    width: 44px;
    height: 44px;
}

.social-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    color: var(--primary-color-text);

    transition: color 250ms ease, background-color 250ms ease;
}

.social-link-second {
    background-color: rgba(255, 255, 255, .1);
    color: #afb1b8;
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
    color: var(--white-color-text)
}


.social-icon {
    width: 20px;
    height: 20px;

    fill: currentColor;
}


/* clients */


.clients {
    display: flex;
    gap: 30px;

}

.clients-item {
    width: 170px;
    height: 92px;
    flex-basis: calc((100% - 150px)/6);

}

.clients-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    border: 1px solid #afb1b8;
    border-radius: 4px;

    color: inherit;

    transition: color 250ms ease, border-color 250ms ease;

}

.clients-link:hover,
.clients-link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.clients-icon {
    width: 106px;
    height: 60px;

    fill: currentColor
}

/* footer */

.footer {
    padding: 60px 0;

    background-color: var(--bgd-accent-color);
}

.address {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.address-link {
    color: var(--white-color-text);

    transition: color 250ms ease;
}

.address-link.accent {
    text-decoration: none;
    color: inherit;
}

.address-link:hover,
.address-link:focus {

    color: var(--accent-color)
}

/* Portfolio */
.filter {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.filter-btn {
    padding: 6px 22px;
    border-radius: 4px;

    text-align: center;
    background-color: var(--radio-btn-background);
    border-color: transparent;

    transition: color 250ms ease, background-color 250ms ease;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--accent-color);
    color: var(--white-color-text)
}

.cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card-item {
    flex-basis: calc((100% - 60px) / 3);
    border: 1px solid #eeeeee;

    transition: box-shadow 300ms ease;
}


.card-thumb {
    position: relative;
    overflow: hidden;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.555;
    color: var(--white-color-text);

    opacity: 0;
    transform: translateY(100%);
    transition: transform 300ms ease, background-color 300ms ease, opacity 400ms ease;
}

.card-item:hover .card-overlay,
.card-item:focus .card-overlay {
    background-color: rgba(33, 150, 243, .9);
    transform: translateY(0);

    opacity: 1;
}

.card-item:hover,
.card-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .12), 0px 4px 4px rgba(0, 0, 0, .06), 1px 4px 6px rgba(0, 0, 0, .16);

}

.card-img {
    margin-bottom: 20px;
}

.card-wrap {
    padding: 20px 24px;
}

.card-title.title {
    font-size: 18px;
    text-align: start;
    margin-bottom: 10px;
}

.card-description {
    font-size: 16px;

}


/* modal-window */

.modal-open {
    overflow-y: hidden;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #75757560;
    backdrop-filter: blur(2px);


    transition: opacity 500ms ease, visibility 500ms ease;
    opacity: 1;
    visibility: visible;

    z-index: 10;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 528px;
    height: 581px;
    border-radius: 4px;

    background-color: var(--white-color-text);

    transform: translate(-50%, -50%) scale(1);

    transition: transform 500ms ease;
}

.backdrop.is-hidden .modal-window {
    transform: translate(-50%, -50%) scale(0);
}

.button-close {
    position: absolute;
    top: 8px;

    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #00000010;


    background-color: transparent;
}


.button-close:hover {
    border-color: var(--accent-color);
    color: var(--accent-color)
}


.icon-close {
    fill: currentColor;
}
