:root {
    --primary-color-text: #757575;
    --title-color-text: #212121;
    --white-color-text: #ffffff;
    --accent-color: #2196f3;
    --bgd-accent-color: #2f303a;
    --accent-color-background: #f5F4fa;
    --hero-color-bgd: #c4c4c4;
    --hero-overlay: #2f303a40;
}



body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    background-color: #ffffff;
    color: var(--primary-color-text);

}

h1,
h2,
h3,
h4,
h5,
h5,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/* other */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.title {
    color: var(--title-color-text);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.social-title {
    margin-bottom: 20px;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: var(--white-color-text);

}

.list {
    list-style: none;
}

/* section */
.section {
    padding: 94px 0;
}

.section.no-padding-top {
    padding-top: 0;
}

.section-title {
    margin-bottom: 50px;
}

.section-color {
    background-color: var(--accent-color-background);
}


/* container */
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

.container.page-header {
    height: 80px;

}

.container-flex {
    display: flex;
    align-items: baseline;
    gap: 80px;
}


/* logo */

.logo {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15;
    color: #000000
}

.footer-logo {
    display: inline-block;
    color: var(--white-color-text);
    margin-bottom: 20px;
}

/* header */
.nav {
    display: flex;
    height: 100%;
    align-items: center;

}

.site-nav {
    display: flex;
    gap: 50px;
    margin-left: 93px;

}

.contact-list {
    display: flex;
    gap: 50px;
    margin-left: auto;
}

.logo-accent {
    color: var(--accent-color)
}

.nav-link {
    font-weight: 500;
    color: var(--title-color-text);
    line-height: 1.14;

}

.nav-link.current {
    color: var(--accent-color);
    border-bottom: 2px solid black;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}


.contact-link {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    color: var(--primary-color-text);
    line-height: 1.14;

}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}


.icon-email {
    margin-right: 10px;
    fill: currentColor;
}

/* HERO */

.section-hero {
    display: block;
    padding: 200px 0px;
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;


    text-align: center;
    background-image: linear-gradient(to bottom, var(--hero-overlay), var(--hero-overlay)), url(../images/hero/hero-bgd.jpg);
    background-color: var(--hero-color-bgd);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title {
    margin-bottom: 30px;

    color: var(--white-color-text);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}

.hero-button {
    padding: 10px 32px;
    border-radius: 4px;

    font-size: 16px;
    line-height: 1.87;
    border-color: transparent;
    background-color: var(--accent-color);
    color: var(--white-color-text)
}


/* features */

.features {
    display: flex;
    gap: 30px;
}

.features-item::before {
    content: '';
    display: block;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;


    border-radius: 4px;
    background-color: var(--accent-color-background);
}

.antenna-icon::before {
    background-image: url(../images/svg/antenna.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.astronaut-icon::before {
    background-image: url(../images/svg/astronaut.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.clock-icon::before {
    background-image: url(../images/svg/clock.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.diagram-icon::before {
    background-image: url(../images/svg/diagram.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.features-title {
    margin-bottom: 10px;

    font-size: 14px;
    color: var(--title-color-text);
    font-weight: 700;
    line-height: 1.14;
}

.features-text {
    line-height: 1.7;
}


/* work */

.work {
    display: flex;
    gap: 30px;
}

/* team */

.team {
    display: flex;
    gap: 30px;
}

.team-item {
    flex-basis: calc((100% - 30px * 3)/ 4);
    padding-bottom: 30px;
    border-radius: 0 0 4px 4px;

    background-color: var(--white-color-text);
}

.team-img {
    margin-bottom: 30px;
}

.text-box {
    text-align: center;
    margin-bottom: 16px;
}

.team-name {
    margin-bottom: 10px;

    color: var(--title-color-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.175;
}

.team-description {
    font-size: 16px;
    line-height: 1.175;
}

/* social */


.social-links {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.social-item {
    width: 44px;
    height: 44px;
}

.social-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    color: var(--primary-color-text)
}

.social-link-second {
    background-color: rgba(255, 255, 255, .1);

    color: #afb1b8;
}

.social-link:hover {
    background-color: var(--accent-color);
    color: var(--white-color-text)
}


.social-icon {
    width: 20px;
    height: 20px;

    fill: currentColor;
}

/* footer */

.footer {
    padding: 60px 0;

    background-color: var(--bgd-accent-color);
}

.address {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.address-text {
    color: var(--white-color-text);

}

.address-text.accent {
    text-decoration: none;
    color: inherit;
}

/* Portfolio */
.filter {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.filter-btn {
    padding: 6px 22px;
    border-radius: 4px;

    text-align: center;
    background-color: var(--radio-btn-background);
    border-color: transparent;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--accent-color);
    color: var(--white-color-text)
}

.cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card-item {
    flex-basis: calc((100% - 60px) / 3);
    border: 1px solid #eeeeee
}

.card-img {
    margin-bottom: 20px;
}

.card-wrap {
    padding: 20px 24px;
}

.card-title.title {
    font-size: 18px;
    text-align: start;
    margin-bottom: 10px;
}

.card-description {
    font-size: 16px;

}
