@mixin generateIcons($iconList) {
	@each $iconName in $iconList {
		.features__item--#{$iconName}-icon::before {
			background-image: url(../images/features/#{$iconName}.svg);
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}
