.form-send {
	@media screen and (min-width: 1200px) {
		width: 570px;
	}
}

.form-send__field {
	@media screen and (min-width: 1200px) {
		display: flex;
		gap: 12px;
		height: 50px;
	}
}

.form-send__input {
	width: 100%;
	padding: 15px 16px;
	border: 1px solid rgba(255, 255, 255, 0.3);

	color: $white-color-text;
	border-radius: 4px;
	background-color: transparent;

	transition: border-color 250ms ease;

	&:hover,
	&:focus {
		border-color: $accent-color;
	}

	&::placeholder {
		color: #ffffff60;
		font-size: 16px;
		line-height: 1.25;
	}

	@media screen and (max-width: 1199px) {
		margin-bottom: 20px;
	}

	@media screen and (min-width: 1200px) {
		padding: 11px 12px;
	}
}

.form-send__icon {
	fill: currentColor;
}
