.main-section__title {
	margin-bottom: 30px;

	font-weight: 900;
	color: $white-color-text;

	@media screen and (max-width: 1199px) {
		font-size: 26px;
		line-height: 1.615;
	}

	@media screen and (min-width: 1200px) {
		font-size: 44px;
		line-height: 1.36;
	}
}

.section__title {
	margin-bottom: 50px;

	color: $title-color-text;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}

.features__title {
	margin-bottom: 10px;

	font-size: 14px;
	color: $title-color-text;
	font-weight: 700;
	line-height: 1.14;

	@media screen and (max-width: 767px) {
		text-align: center;
	}
}

.page-footer__title {
	display: block;
	margin-bottom: 20px;

	font-size: 14px;
	font-weight: 700;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $white-color-text;
}

.modal__title {
	display: block;
	text-align: center;
	margin-bottom: 12px;

	font-weight: 700;
	font-size: 20px;
	line-height: 1.17;
	color: $title-color-text;

	@media screen and (max-width: 1199px) {
		font-size: 20px;
		line-height: 1.5;
	}
}

.card__title {
	font-size: 18px;
	text-align: start;
	margin-bottom: 10px;
}
